:root {
    // Color
    --main-color: #ffffff;
    --accent-color: #FFB548;

    --btn-color: #1A1917;

    --bgElement-color: #979797;
    --bg-color: #080A0B;

    // Fonts
    --main-font: "Open Sans", sans-serif;
    --accent-font: "Bebas Neue", sans-serif;
}